
    html,body,card{
        display: flexbox;
      text-align:left;
      background: #193549;
      color: white;
      font-family: 'helvetica neue', sans-serif;
      font-weight: 100;
      font-size: 51px;
    }
}